<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{{body}}}
</body>
<script type="text/javascript" id="" src="https://chatsystem.io/315240"></script>
</html>
